<IfModule mod_rewrite.c>    
	RewriteEngine On
	RewriteRule ^affiliates$ / [R=301,L]
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>