.high{
    border:2px solid #d96c49;
    color: #d96c49;
    background: #d96c49;
}
.high .gantt_task_progress{
    background: #db2536;
}

.medium{
    border:2px solid #34c461;
    color:#34c461;
    background: #34c461;
}
.medium .gantt_task_progress{
    background: #23964d;
}

.low{
    border:2px solid #6ba8e3;
    color:#6ba8e3;
    background: #6ba8e3;
}
.low .gantt_task_progress{
    background: #547dab;
}
