@media print{
  * { margin: 0 !important; padding: 0 !important; }
  html, body {
    height:100%; 
    overflow: hidden;
    background:yellow !important; 
    font-size: 9.5pt;
  }

.navbar, .breadcrumb_div, .ganttButtonBar, .rt_tutorial , footer
{display:none;}
body, #wrapper, .slide_rht_con
{margin:0px; padding: 0px;}
#workSpace, .vSplitBar, .splitterContainer, .splitElement{height: auto !important;}
.print_preview_project_name{display:block !important;}
table{width:100% !important}
.svg{width:100% !important;}
.taskEditRow.rowSelected td, .taskEditRow.rowSelected input{background:none;}
.ganttSVGBox{position: absolute;top: 0;left: 0;height: 100%;width: 100% !important;}
.splitBox2{width:100% !important;float:none;}
.splitBox2 div{width:100% !important;left:0 !important;}
.splitBox2  div  table{width:100% !important;left:0 !important;}
.ganttSVGBox{left:-30% !important;}
}
